:root {
    /* ----------------------------------------------------------------------------
     6. BORDER STYLES
     ---------------------------------------------------------------------------- */
    --border-sm: 1px;
    --border-md: 2px;
    --border-lg: 4px;
}
