:root {
    /* ----------------------------------------------------------------------------
     6. BORDER STYLES
     ---------------------------------------------------------------------------- */
    --border-sm: none;
    --border-md: none;
    --border-lg: none;
}
